html, body, #root {
    height: 100%;
    margin: 0;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: linear-gradient(180deg,#071023 0%, #071b2b 100%);
    color: #e6eef8;
  }
  